.container {
  margin: 00px;
  padding: 00px;
  box-sizing: content-box;
}

.padding {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #e6ebe0;
  flex-direction: row;
  flex-flow: wrap;
}
.font {
  height: 375px;
  width: 250px;
  position: relative;
  border-radius: 10px;
}

.top {
  height: 30%;
  width: 100%;
  background-color: green;
  position: relative;
  z-index: 5;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.top h6 {
  position: relative;
  top: 10px;
  text-align: center;
  text-transform: capitalize;
  font-size: 11px;
  color: rgb(255, 254, 254);
  text-emphasis: spacing;
}

.top p {
  position: relative;
  top: 15px;
  text-align: center;
  text-transform: capitalize;
  /* font-weight: bold; */
  font-size: 6px;
  text-emphasis: spacing;
  color: rgb(182, 182, 182);
  font-style: italic;
}

.bottom {
  height: 70%;
  width: 100%;
  border-color: white;
  position: absolute;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.top img {
  height: 100px;
  height: 100px;
  border-color: #e6ebe0;
  border-radius: 10px;
  position: absolute;
  top: 120px;
  left: 75px;
}
.bottom p {
  position: relative;
  top: 120px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  text-emphasis: spacing;
}
.bottom .nim {
  font-size: 12px;
  color: gray;
  font-weight: normal;
}
.bottom .prodi {
  font-size: 15px;
  font-weight: normal;
}
